/*================== used less files ===================*/
/*==================== google fonts =================*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200&family=Oswald:wght@300&display=swap");
/*==================== web colors ===================*/
.bg-yellow {
  background-color: #f9cc41 !important;
}

.text-yellow {
  color: #f9cc41 !important;
}

.text-theme {
  color: #11141b !important;
}

.bg-theme {
  background-color: #11141b !important;
}

.bg-theme-1 {
  background-color: #262533 !important;
}

.theme-over:hover {
  background-color: #f9cc41 !important;
  border: 1px solid #f9cc41 !important;
}

/*==================== fonts ===================*/
/*===================== font sizes ================*/
/*=================== screen sizes ================*/
/*==================== image path =================*/
/*===================== others ======================*/
::-moz-selection {
  background-color: #11141b;
  color: #fff;
}

::selection {
  background-color: #11141b;
  color: #fff;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus,
button:focus,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif !important;
  font-size: 16px;
  line-height: 1.5em;
  position: relative;
  font-weight: bolder;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 20px 0px;
  font-weight: 600;
  font-family: "Oswald", sans-serif !important;
}

section {
  padding: 90px 0px;
}
@media (max-width: 767.98px) {
  section {
    padding: 30px 0px;
  }
}

section:after {
  display: block;
  clear: both;
}

.full-width {
  width: 100%;
  height: 100vh;
}

.bg-size-cover {
  background-size: cover;
}

.theme-color-text {
  color: #11141b;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  z-index: 5555;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.fixed {
  position: fixed;
}

.middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*======================  bootstrap edits ===================*/
.container {
  max-width: 1260px;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(249, 204,65, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #f9cc41;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 18px;
}
@media (max-width: 575.98px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 15px;
  }
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f9cc41 !important;
}

.btn.bg-yellow {
  position: relative;
  z-index: 1;
  color: #11141b !important;
  transition: 0.4s all cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.btn.bg-yellow::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: white;
  z-index: -1;
  transition: 0.5s all cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.btn.bg-yellow:hover {
  color: #000 !important;
}
.btn.bg-yellow:hover::after {
  width: 100%;
}

.line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

html {
  scroll-behavior: smooth;
}

.bg-cust-nav {
  background-color: rgba(17, 20, 27, 0.95) !important;
  z-index: 5555;
}

h1 {
  font-size: 3rem !important;
}
@media (max-width: 991.98px) {
  h1 {
    font-size: 2.5rem !important;
  }
}
@media (max-width: 767.98px) {
  h1 {
    font-size: 2rem !important;
  }
}

h2 {
  font-size: 2.25rem !important;
}
@media (max-width: 991.98px) {
  h2 {
    font-size: 2rem !important;
  }
}
@media (max-width: 767.98px) {
  h2 {
    font-size: 1.65rem !important;
  }
}

h3 {
  font-size: 1.75rem !important;
}
@media (max-width: 991.98px) {
  h3 {
    font-size: 1.5rem !important;
  }
}
@media (max-width: 767.98px) {
  h3 {
    font-size: 1.375rem !important;
  }
}

h4 {
  font-size: 1.5rem !important;
}
@media (max-width: 991.98px) {
  h4 {
    font-size: 1.5rem !important;
  }
}
@media (max-width: 767.98px) {
  h4 {
    font-size: 1.2rem !important;
  }
}

h5 {
  font-size: 1.3rem !important;
}
@media (max-width: 991.98px) {
  h5 {
    font-size: 1.3rem !important;
  }
}
@media (max-width: 767.98px) {
  h5 {
    font-size: 1.125rem !important;
  }
}

@media (max-width: 575.98px) {
  .logo {
    width: 35px !important;
  }
}

.overflow-img {
  overflow: hidden;
}
.overflow-img img {
  transform: scale3d(1, 1, 1);
  transition: 0.5s all cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.overflow-img img:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.pro-1 {
  position: relative;
  z-index: 1;
}
.pro-1::after {
  display: block;
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background: #262533;
  z-index: -1;
}
.pro-1.left-bottom::after {
  left: -3%;
  bottom: -5%;
}
.pro-1.right-bottom::after {
  right: -3%;
  bottom: -5%;
}
.pro-1.right-top::after {
  right: -3%;
  top: -5%;
}

section.land-section {
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 82vh !important;
}
@media (max-width: 767.98px) {
  section.land-section {
    height: auto !important;
  }
}
section.land-section::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 20, 27, 0) !important;
  z-index: -1;
}
section.land-section .banner-text {
  position: absolute;
  left: 0;
  bottom: 30%;
  z-index: 555;
}
section.land-section .banner-text .box {
  max-width: 350px;
  background: rgba(17, 20, 27, 0.9) !important;
}
section.land-section .owl-theme .owl-nav {
  position: absolute;
  top: 60%;
  z-index: 5555;
  width: 100%;
}
section.latest-updates .update {
  position: relative;
  z-index: 1;
}
section.latest-updates .update::after {
  z-index: -1;
  display: block;
  content: "";
  position: absolute;
  left: -4%;
  top: 0;
  width: 15%;
  height: 60%;
  border: 1px solid #303030;
}
section.latest-updates .update p {
  padding-left: 15%;
}
section.about {
  background: url(../img/bg-about.jpg) no-repeat center;
  background-size: cover;
  height: 600px;
  position: relative;
}
section.about-caption {
  margin-top: -355px;
}
@media (max-width: 991.98px) {
  section.about-caption {
    margin-top: 0px;
  }
}
section.about-caption .about-text {
  padding: 100px 80px !important;
}
@media (max-width: 991.98px) {
  section.about-caption .about-text {
    padding: 30px 15px !important;
  }
}
section.about-caption .bg-yellow {
  padding: 40px 100px;
}
@media (max-width: 991.98px) {
  section.about-caption .bg-yellow {
    padding: 30px 15px !important;
  }
}
section.services .bg-primary {
  background-clip: text;
}
section.services .bg-primary h2 {
  color: transparent;
}
section.services h4 {
  padding-left: 35px;
  position: relative;
}
section.services h4::after {
  position: absolute;
  left: 0px;
  top: 50%;
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  transform: translateY(-50%);
  background: #f9cc41;
}
section.services p {
  padding-left: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
section.estimate .btn-arr {
  position: relative;
}
section.estimate .btn-arr:hover {
  background: #f9cc41 !important;
  transition: 0.5s all cubic-bezier(0.5, 1.6, 0.4, 0.7);
  border: #11141b solid 1px;
  color: #11141b !important;
}
section.estimate .btn-arr::after {
  display: block;
  position: absolute;
  content: "";
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 2px;
  background: #11141b;
}
section.estimate .btn-arr::before {
  display: block;
  position: absolute;
  content: "";
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 2px;
  background: #11141b;
}
section.testimonial .circle-icon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #f9cc41 !important;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
section.footer {
  background: #262533 !important;
}
section.footer a {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
section.footer a:hover {
  color: #f9cc41 !important;
}

.bg-contact {
  position: relative;
  z-index: 1;
}
.bg-contact::after {
  display: block;
  position: absolute;
  width: 90%;
  height: 120%;
  background: #262533;
  content: "";
  left: 10%;
  top: -10%;
  z-index: -1;
}
@media (max-width: 767.98px) {
  .bg-contact::after {
    display: none;
  }
}

.contact-inner ::placeholder {
  color: #fff !important;
}

.arrow-top {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #11141b;
  bottom: 0;
  right: 0;
  z-index: 5555;
}

.whatsapp-get-a-quote {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 55;
}
.whatsapp-get-a-quote .whatsapp {
  width: 50px;
  height: 50px;
  background: #11141b;
}
.whatsapp-get-a-quote .quote {
  width: 50px;
  background: #11141b;
}

.inner-banner {
  height: 50vh;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .inner-banner {
    height: auto !important;
  }
}
.inner-banner .owl-theme .owl-nav {
  position: absolute;
  top: 50%;
  z-index: 5555;
  width: 100%;
}
.inner-banner .owl-carousel .owl-nav button.owl-next,
.inner-banner .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
}
.inner-banner .owl-carousel .owl-nav button.owl-next {
  right: 10px;
}
.inner-banner .owl-carousel .owl-nav button.owl-prev {
  left: 10px;
}

/*# sourceMappingURL=style.css.map */
